files:
  "/etc/nginx/conf.d/01_cropwise.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 50M;
      
      # WebSocket support
      map $http_upgrade $connection_upgrade {
          default upgrade;
          '' close;
      }
      
      # CORS headers
      add_header 'Access-Control-Allow-Origin' '*' always;
      add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
      add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization' always;

