option_settings:
  # Force HTTPS redirect
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:ACCOUNT_ID:certificate/CERTIFICATE_ID
    Rules: ""
  
  aws:elbv2:listener:80:
    ListenerEnabled: true
    Protocol: HTTP
    Rules: redirect-to-https
  
  aws:elbv2:listenerrule:redirect-to-https:
    PathPatterns: /*
    Priority: 1
    Process: https-redirect

Resources:
  AWSEBV2LoadBalancerListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Protocol: HTTPS
            Port: 443
            Host: "#{host}"
            Path: "/#{path}"
            Query: "#{query}"
            StatusCode: HTTP_301
      LoadBalancerArn:
        Ref: AWSEBV2LoadBalancer
      Port: 80
      Protocol: HTTP

